<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
        <div class="cup1"></div>
        <div class="cup2">
            <div class="water1 water"></div>
            <div class="water2 water"></div>
            <div class="water3 water"></div>
        </div>
    </div>
    <script src="/main.js"></script>
</body>
</html>